*.pptx
dist*.zip
*.bak
*private*
*private
private*
.idea
.idea/
.DS_Store
node_modules/
node_modules_bak/
.project
dist
dist/*
src/config/*.tmp
src/config/env.js
npm-debug.log
ZSTFW
ZSTFW/
ZSTFW/*
remote-img
remote-img/
remote-img/*
/static/remote-img/*


