<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>海洋监测</title>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/trident32.ico" type="image/x-icon">
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <script>
    (function(){
      var userAgent = navigator.userAgent;
      var isIE = userAgent.indexOf('compatible') > -1 && userAgent.indexOf('MSIE') > -1;
      var isIE11 = userAgent.indexOf('Trident') > -1 && userAgent.indexOf('rv:11.0') > -1;
      if(isIE||isIE11) alert('不兼容IE,请用最新Firefox/Chrome/极速模式打开');
    })();
    </script>
    <style type="text/css">
        .ivu-tabs, .ivu-tabs-tab{font-size: 18px;}
    </style>
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
</body>

</html>